<table>
  <tr>
    <th class="name">Название проекта</th>
    <th *ngFor="let date of projectsMaxPeriod">{{ date.format('MM YYYY') }}</th>
  </tr>

  <tr *ngFor="let project of projects">
    <td class="name">{{ project.project_name }}</td>
    <td *ngFor="let date of projectsMaxPeriod">
      <input
        #el
        type="text"
        [disabled]="!isAdmin"
        [value]="getProjectPercentByDate(project, date)"
        (blur)="onUpdateValue(project, date, el.value)"
      />
    </td>
  </tr>
</table>
