@import 'src/app/shared/styles/scroll';

:host {
  display: block;
  max-width: 100%;
  overflow: auto;
  @extend .scrollbar;
}

tr {
  border-bottom: 1px solid lightgray;
}

th,
td {
  padding: 5px;
  text-align: center;
  border-right: 1px solid lightgray;
}

.date {
  position: relative;
  .fa-icon {
    position: absolute;
    top: -6px;
    right: 1px;
    cursor: pointer;
  }
}

.name {
  position: relative;
  width: 200px;
  position: sticky;
  left: 0;
  white-space: nowrap;
  text-align: left;
  background-color: #fafafa;
  z-index: 10;
  padding: 0 10px;

  .fa-icon {
    position: absolute;
    top: 12px;
    right: 9px;
    cursor: pointer;
  }
}

input {
  width: 40px;
  text-align: center;

  &[disabled] {
    border: none;
    background: transparent;
  }
}

button {
  margin-top: 20px;
}
