<table>
  <tr class="table-header">
    <th class="name">Название проекта</th>
    <th *ngFor="let date of projectsMaxPeriod" class="date">
      <i class="fa fa-minus fa-icon" (click)="deleteMonth(date)"></i>
      {{ date.format('MM YYYY') }}
    </th>
  </tr>

  <tr *ngFor="let project of projects">
    <td class="name">
      {{ project.project_name }}
      <i class="fa fa-minus-square fa-icon" (click)="deleteProject(project)"></i>
    </td>
    <td *ngFor="let date of projectsMaxPeriod">
      <input
        #el
        type="text"
        [disabled]="!isAdmin"
        [value]="getProjectPercentByDate(project, date)"
        (blur)="onUpdateValue(project, date, el.value)"
      />
    </td>
  </tr>
</table>
