.user-card {
  padding: 6px;
  border-radius: 4px;
  background-color: white;
  margin: 5px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;

  &.card-s {
    width: 100px;
    min-height: 120px;
  }

  .user-name {
    text-align: center;
  }
}

::ng-deep.avatar-center {
  display: flex;
  justify-content: center;
}
