@import 'src/app/shared/styles/color';

:host {
  display: grid;
  grid-template-columns: 200px 200px 150px 1fr 150px;
}

.header {
  font-weight: bold;
  padding: 10px !important;
  cursor: pointer;
}

.element {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.type {
  padding: 7px 10px;

  & .type-badge {
    padding: 3px 10px;
    border-radius: 5px;

    &.CUSTOM {
      background-color: var(--dayTypeCustom);
    }

    &.LEFT {
      background-color: var(--dayTypeLeft);
    }

    &.VACATION {
      background-color: var(--dayTypeVacation);

      &.is-approved {
        background-color: var(--dayTypeVacationApproved);
      }
    }

    &.SICK {
      background-color: var(--dayTypeSick);
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fa {
  cursor: pointer;
  padding: 0 5px;
  width: 30px;
  text-align: center;
  transition: transform ease-in 0.1s;

  &:hover:not(.disabled) {
    transform: scale(1.2);
  }
}

.fa-check-circle {
  font-size: 25px;
  color: green;
  cursor: default;
}

@media (min-width: 768px) and (max-width: 1200px) {
  :host {
    grid-template-columns: 150px 150px 100px 1fr 100px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  :host {
    border: 1px solid lightgray;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 50px);
    grid-template-areas:
      'start-title start-area'
      'end-title end-area'
      'type-title type-area'
      'comment-title comment-area';
  }

  .start-title {
    grid-area: start-title;
  }

  .end-title {
    grid-area: end-title;
  }

  .type-title {
    grid-area: type-title;
  }

  .comment-title {
    grid-area: comment-title;
  }

  .start-area {
    grid-area: start-area;
  }

  .end-area {
    grid-area: end-area;
  }

  .type-area {
    grid-area: type-area;
  }

  .comment-area {
    grid-area: comment-area;
  }

  .element-hidden {
    display: none;
  }

  .element {
    border: none;
  }

  .buttons {
    grid-column: 1 / 3;
  }

  i {
    margin: 0 5px;
  }

  .fa-check {
    width: 44vw;
    background-color: rgba(183, 216, 144, 0.6);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    line-height: 36px;
    border-radius: 4px;
  }

  .fa-times {
    width: 44vw;
    background-color: rgba(221, 118, 118, 0.6);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    line-height: 36px;
    border-radius: 4px;
  }
}
