<div class="header element start start-title">С</div>
<div class="header element end end-title">По</div>
<div class="header element type type-title">Тип</div>
<div class="header element comment comment-title">Комментарий</div>
<div class="header element element-hidden"></div>

<ng-template ngFor let-task [ngForOf]="tasks | sortTasksByDateStart">
  <div class="element start start-area">{{ task.dateStart | date: 'dd MMMM yyyy' }}</div>
  <div class="element end end-area">{{ task.dateEnd | date: 'dd MMMM yyyy' }}</div>
  <div class="element type type-area">
    <div class="type-badge" [ngClass]="task.type" [class.is-approved]="task.approved">
      {{ task.type | taskType }}
    </div>
  </div>
  <div class="element comment comment-area">{{ task.comment }}</div>

  <div class="element buttons">
    <ng-container *ngIf="task.type === dayTypes.VACATION">
      <i
        title="Подтвердить согласование отпуска"
        class="fa fa-check"
        *ngIf="!task.approved; else approveBtn"
        aria-hidden="true"
        (click)="openApproveDialog(task._id)"
      ></i>

      <i
        *ngIf="task?.attachment?.fileName"
        (click)="downloadAttachment(task._id)"
        title="Скачать прикрепленные материалы"
        class="fa fa-download"
        aria-hidden="true"
      ></i>

      <ng-template #approveBtn>
        <i title="Отпуск согласован" class="fa disabled fa-check-circle" aria-hidden="true"></i>

        <i
          (click)="printStatement(task)"
          title="Распечатать заявление на отпуск"
          class="fa fa-print"
          aria-hidden="true"
        ></i>
      </ng-template>
    </ng-container>

    <i
      *ngIf="task | canDeleteTask: user:currentUser"
      (click)="openDeleteDialog(task._id)"
      class="fa fa-times"
      aria-hidden="true"
    ></i>
  </div>
</ng-template>
