<div class="header element start">С</div>
<div class="header element end">По</div>
<div class="header element type">Тип</div>
<div class="header element comment">Комментарий</div>
<div class="header element"></div>

<ng-template ngFor
    let-task
    [ngForOf]="tasks | sortTasksByDateStart">
    <div class="element start">{{task.dateStart | date: 'dd MMMM yyyy'}}</div>
    <div class="element end">{{task.dateEnd | date: 'dd MMMM yyyy'}}</div>
    <div class="element type">
        <div class="type-badge"
            [ngStyle]="{'background-color' : task.type | taskTypeColor }">
            {{task.type| taskType}}
        </div>
    </div>
    <div class="element comment">{{task.comment}}</div>
    <div class="element buttons">
        <i (click)="deleteTask.emit(task._id)"
            class="fa fa-times"
            aria-hidden="true"></i>
    </div>
</ng-template>