.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin-top: 20px;
}

.app-month-selector {
  align-items: center;
}

@media (max-width: 1200px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
