:host {
  display: grid;
  grid-template-columns: 300px 1fr;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.user-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  margin-right: 10px;
}

.title {
  margin: 0;
  justify-self: center;
}
