###############################################################################
* text=auto

###############################################################################
# behavior for shell script files
#
# shell script files are treated as text files with LF line endings by default.
###############################################################################
*.sh    text eol=lf

###############################################################################
# Set default behavior for command prompt diff.
#