<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper">
        <div class="buttons__wrapper">
          <button class="btn btn-outline-primary prev"
            (click)="prevMonth()">
            <-</button> <div
              class="current-month">{{currentMonth | datePipe: 'MMMM YYYY'}}</div>
        <button class="btn btn-outline-primary next"
          (click)="nextMonth()">-></button>
      </div>
      <div class="table">
        <div class="month_header" *ngIf="form">
          <div class="days_wrapper">
            <div class="employee_header">Сотрудник</div>
            <div class="days_header__wrapper">
              <div class="day"
                *ngFor="let item of form.controls">{{item.value | datePipe: 'D'}}</div>
            </div>

          </div>
          <div class="employe_wrapper"
            *ngIf="employeeForm">
            <div *ngFor="let employee of employeeForm.controls"
              class="row-item">
              <a class="title" [routerLink]="['/presence', employee.get('title').value.id]">{{employee.get('title').value.surname}} {{employee.get('title').value.name[0]}}</a>
              <div class="days_wrapper-table">
                <div class="day"
                  [ngClass]="chooseClass(day.get('type').value)"
                  *ngFor="let day of employeeArray(employee).controls"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="agenda__wrapper">
        <app-agenda></app-agenda>
      </div>
    </div>
  </div>
</div>
</div>