<nav class="nav">
  <a class="nav-item"
    routerLink="/presence"
    routerLinkActive="active"
    (click)="selectCurrentUser()">Мое присутствие</a>
  <a class="nav-item"
    routerLink="/team-presence"
    routerLinkActive="active">Команда</a>
  <a class="nav-item"
    routerLink="/profile"
    routerLinkActive="active">Профиль</a>

  <ng-template #noAuth>
    <a class="btn btn-outline-primary"
      routerLink="/login"
      routerLinkActive="active">Войти</a>
  </ng-template>

  <a class="btn btn-outline-primary"
    *ngIf="(isAuth$ | async); else noAuth"
    (click)="logout()">Выйти</a>
</nav>