<div>
  <main>
    <div class="calendar">
      <div class="month-indicator">
        <div>{{getMonthName(date.month)}}</div>
      </div>
      <div class="day-of-week">
        <div>Пн</div>
        <div>Вт</div>
        <div>Ср</div>
        <div>Чт</div>
        <div>Пт</div>
        <div>Сб</div>
        <div>Вс</div>
      </div>
      <div class="date-grid">
        <div [ngStyle]="{'grid-column': getDayNumber().toString()}" datetime="2019-02-01">1</div>
        <div *ngFor="let day of daysInMonth">
          {{day}}
        </div>
      </div>
    </div>
  </main>

</div>

