:host {
  --dayTypeCommon: #ffffff;
  --dayTypeCustom: #90caf9;
  --dayTypeLeft: #ef9a9a;
  --dayTypeVacation: #c5e1a5;
  --dayTypeSick: #ffe082;

  --dayTypeVacationApproved: #79b03b;

  --dayTypeHoliday: #efecec;
  --dayTypePreHoliday: rgba(197, 202, 233, 0.4);
}
