/* ==== глобальные правила для печати ==== */
@media print {
  @page {
    padding: 0;
    margin: 15mm; // отсуп полей, регулируемый в Chrome Print Preview
  }

  body {
    padding: 0;
    margin: 0;
  }
}
