
.scrollbar {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: white;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #72A8BC;
  }

  &::-webkit-scrollbar-thumb {
    background: #87c0d4;
  }

  &::-webkit-scrollbar-track {
    //цвет общего фона;
    background-color: #fafafa;
  }
}
