<ng-container *ngIf="selectedUser && (tasks$ | async)">

    <app-current-day class="title"
        [selectedUser]="selectedUser"></app-current-day>

    <app-calendar class="calendar"
        [tasks]='tasksToCalendar$ | async'
        [holidays]="holidays$ | async"></app-calendar>

    <app-agenda class="agenda"
        [isLineView]="true"></app-agenda>

    <app-description class="description"
        [selectedUser]="selectedUser"
        [tasks]="tasks$ | async"
        (onAddTask)="onAddTask($event)"></app-description>

    <app-presence-history class="history" [tasks]="tasks$ | async"></app-presence-history>

</ng-container>