<ng-container *ngIf="selectedUser && tasks">
  <app-current-day class="title" [selectedUser]="selectedUser"></app-current-day>

  <app-calendar class="calendar" [tasks]="tasksToCalendar" [holidays]="holidays$ | async"></app-calendar>

  <app-agenda class="agenda" [isLineView]="true"></app-agenda>

  <app-description
    class="description"
    [selectedUser]="selectedUser"
    [tasks]="tasks"
    (onAddTask)="onAddTask($event)"
  ></app-description>

  <app-presence-history
    class="history"
    [user]="selectedUser"
    [currentUser]="currentUser"
    [tasks]="tasks"
    (approve)="approveTask($event)"
    (deleteTask)="deleteTask($event)"
  ></app-presence-history>
</ng-container>
