<div class="subscriptions">
  <div class="subscription">
    <div class="title">
      Подписан я:
      <div class="counter">{{ following?.length }}</div>
    </div>
    <div *ngIf="following?.length">
      <i
        class="fa fa-ban icon-btn red"
        (click)="removeAllFollowing()"
        title="Исключить всех из подписки"
        aria-hidden="true"
      ></i>
      Исключить всех из подписки
      <hr />
    </div>
    <div *ngIf="following?.length; else emptyFollow">
      <div *ngFor="let user of following" class="follow-item">
        <a [routerLink]="['/profile', user.mailNickname]" [queryParams]="{ tab: 0 }">{{ user?.username }}</a>
        <div *ngIf="userCanEdit()">
          <i
            class="fa fa-eye icon-btn"
            [ngClass]="{ 'active-eye': isAddedUser(user) }"
            [title]="
              isAddedUser(user) ? 'Вы подписаны на этого пользователя. Отписаться?' : 'Получать уведомления постоянно'
            "
            (click)="toggleFollow(user)"
            aria-hidden="true"
          ></i>
          <i
            class="fa fa-ban icon-btn"
            (click)="removeFollowing(user)"
            title="Исключить пользователя из подписки"
            aria-hidden="true"
          ></i>
        </div>
      </div>
    </div>

    <div class="add-subscriptions" *ngIf="userCanEdit()">
      <mat-form-field class="form-inline">
        <mat-select [formControl]="followingForm" [placeholder]="'Добавить подписку'">
          <mat-option>Сбросить</mat-option>
          <mat-option
            *ngFor="let user of users$ | async | followUsersFilter: following:removedFromMe"
            [value]="user._id"
          >
            {{ user?.username }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button [disabled]="!followingForm.value" mat-mini-fab color="primary" (click)="addFollowingByForm()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>

    <div class="title">
      Никогда не получать уведомления от:
      <div class="counter">{{ removedFromMe?.length }}</div>
    </div>

    <div *ngIf="removedFromMe?.length; else emptyBlackList">
      <div *ngFor="let user of removedFromMe" class="follow-item">
        {{ user?.followingId?.username }}
        <div *ngIf="userCanEdit()">
          <i
            class="fa fa-eye icon-btn"
            title="Получать уведомления постоянно"
            (click)="toggleFollow(user?.followingId)"
            aria-hidden="true"
          ></i>
          <i
            class="fa fa-ban icon-btn ban-active"
            (click)="deleteFollowing.emit(user._id)"
            title="Вернуть в общий список"
            aria-hidden="true"
          ></i>
        </div>
      </div>
    </div>
  </div>

  <div class="subscription">
    <div class="title">
      Подписаны на меня:
      <div class="counter">{{ followers?.length }}</div>
    </div>
    <div *ngIf="followers?.length; else emptyFollow">
      <div *ngFor="let user of followers" class="follow-item">
        <a [routerLink]="['/profile', user.mailNickname]" [queryParams]="{ tab: 0 }">{{ user?.username }}</a>
      </div>
    </div>

    <div class="title">
      От вас не приходят уведомления к:
      <div class="counter">{{ IRemovedFrom?.length }}</div>
    </div>
    <div *ngIf="IRemovedFrom?.length; else emptyBlackList">
      <div *ngFor="let user of IRemovedFrom" class="follow-item">
        {{ user?.followerId?.username }}
      </div>
    </div>
  </div>

  <ng-template #emptyFollow>Нет подписок.</ng-template>
  <ng-template #emptyBlackList>Нет заблокированных подписок.</ng-template>
</div>
