@import 'src/app/shared/styles/scroll';

.tab-scroll-content {
  max-height: calc(100vh - 260px);
  @extend .scrollbar;
}

.title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 12px;
}

.subscriptions {
  display: flex;
  margin-bottom: 50px;

  .subscription {
    width: 100%;
    margin-right: 50px;

    .title {
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .counter {
        min-width: 40px;
        width: 40px;
        height: 40px;
        background-color: #d1ecf1;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        margin-right: 8px;
      }
    }
  }

  .follow-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 10px 5px 5px;
    border-bottom: 1px solid #dee2e6;
  }
}

.icon-btn {
  color: #dee2e6;
  margin: 0 3px;

  &.fa-eye:hover {
    color: rgb(144, 202, 249);
  }

  &.fa-ban:hover {
    color: rgb(239, 154, 154);
  }

  &.ban-active {
    color: rgb(239, 154, 154);
  }

  &.ban-active:hover {
    color: #dee2e6;
  }

  &.active-eye {
    color: rgb(144, 202, 249);
  }

  &.active-eye:hover {
    color: #dee2e6;
  }

  &:hover {
    color: #333131;
    cursor: pointer;
  }
}

.mat-form-field {
  width: 100%;
}

.add-subscriptions {
  display: flex;
  align-items: center;
  padding: 20px 8px 0 0;
}

.form-inline {
  padding-right: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subscriptions {
    flex-direction: column;
  }
}
