.contaienr {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.avatar {
  margin-right: 10px;
}

.user-info-container {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
