<div (swipe)="onSwipe($event)"
  class="contaienr shadow-sm">
  <div class="user-info-container">
    <ngx-avatar class="avatar"
      size="40"
      value="{{ (currentUser$ | async).name[0] + (currentUser$ | async).surname[0]}}"></ngx-avatar>&nbsp;
    <h5 class="my-0 mr-md-auto font-weight-normal"
      *ngIf="(currentUser$ | async)">
      Привет, {{ (currentUser$ | async).name }}!
    </h5>
    <h5 class="my-0 mr-md-auto font-weight-normal"
      *ngIf="!(currentUser$ | async)">
      Привет, гость!
    </h5>
  </div>

  <div class="flex-1"></div>

  <app-navigation-menu class="menu"></app-navigation-menu>

  <div class="mobile-menu"
    (click)="mobileMenuClick.emit()">
    <i class="fa fa-bars"></i>
  </div>
</div>