<div (swipe)="onSwipe($event)" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <ngx-avatar size="40" value="{{ (currentUser$ | async).name[0] + (currentUser$ | async).surname[0]}}"></ngx-avatar>&nbsp;
  <h5 class="my-0 mr-md-auto font-weight-normal" *ngIf="(authService.user | async)">
    Привет, {{ (currentUser$ | async).name }}!
  </h5>
  <h5 class="my-0 mr-md-auto font-weight-normal" *ngIf="!(authService.user | async)">
    Привет, гость!
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/presence" routerLinkActive="active" (click)="selectCurrentUser()">Мое присутствие</a>
    <a class="p-2 text-dark" routerLink="/team-presence" routerLinkActive="active">Команда</a>
    <a class="p-2 text-dark" routerLink="/profile" routerLinkActive="active">Профиль</a>
    <a class="btn btn-outline-primary" routerLink="/login" *ngIf="!(authService.user | async)" routerLinkActive="active">Войти</a>
    <a class="btn btn-outline-primary" *ngIf="(authService.user | async)" (click)="logout()">Выйти</a>
  </nav>
</div>