@import 'src/app/shared/styles/color';

:host {
  display: block;
  text-align: center;
  height: 350px;
}

:host /deep/ ngb-datepicker {
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.selected {
    border: 1px solid black;
  }
  .custom-day {
    outline: none;
    border: 1px solid white;
    &.type_COMMON {
      background-color: #ffffff;
    }
    &.day_HOLIDAY {
      background-color: $holiday;
    }
    &.day_PRE_HOLIDAY {
      background-color: $pre-holiday;
    }
    &.type_CUSTOM {
      background-color: #90caf9;
    }
    &.type_LEFT {
      background-color: #ef9a9a;
      color: white;
    }
    &.type_VACATION {
      background-color: #c5e1a5;
      color: white;
    }
    &.type_SICK {
      background-color: #ffe082;
    }

  }
}
.date-picker {
  transform: scale(1.25) translateY(30px);
}
