<ngb-datepicker [(ngModel)]="selectedDate"
  [dayTemplate]="customDay"
  class="date-picker"
  (select)="onDateSelect($event)"
  outsideDays="hidden">
</ngb-datepicker>
<ng-template #customDay
  let-date="date"
  let-currentMonth="currentMonth"
  let-selected="selected"
  let-focused="focused">
  <span class="custom-day"
    [class.selected]="selected"
    [class.focused]="focused"
    [ngClass]="[date | transformTaskType: tasks, date | isHolidayData: holidays]">
    {{ date.day }}
  </span>
</ng-template>
