:host {
  display: grid;
  grid-template-rows: auto auto minmax(auto, 1fr) auto;
  max-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 10px;
  box-sizing: border-box;
}

.select-month {
  justify-self: center;
}
