<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="filters_wrapper">
        <app-month-selector [date]="date$|async"
          (nextMonth)="nextMonth()"
          (prevMonth)="prevMonth()"></app-month-selector>
      </div>
      <div class="table"
        *ngIf="(monthData$ | async) as monthData">
        <div class="row-item">
          <div class="title header">Сотрудник</div>
          <div class="day header "
            [ngClass]="{ weekend: date | isWeekendDayPipe, currentDay: date | isCurrentDayPipe}"
            *ngFor="let date of (monthDays$ | async)">
            <div class="day-header">
              <div class="day-wrapper">{{ date | datePipe: 'D' }}</div>
            </div>
            <div>{{ date | datePipe: 'ddd' }}</div>
          </div>
        </div>
        <div *ngFor="let data of (monthData | filterTeamEmployeePipe: filter.value :  (date$ | async)); index as i"
          class="row-item">
          <div class="number">{{i + 1}}.</div>
          <div class="title">
            <div>
              <a [routerLink]="['/presence', data.employee.mailNickname]">{{ data.employee?.username?.split(' ')[0] }} {{ data.employee?.username?.split(' ')[1] }}
              </a>
            </div>
            <div class="jobPosition">{{ data.employee?.jobPosition?.name }}</div>
          </div>
          <div *ngFor="let task of data.tasks"
            [matTooltip]="task.comment"
            class="day {{ task?.type ? dayType[(task?.type)] : '' }}"
            [ngClass]="{ weekend: task.dateStart | isWeekendDayPipe }"></div>
        </div>
      </div>
      <div class="agenda__wrapper">
        <app-agenda [isLineView]="true"></app-agenda>
      </div>
    </div>
  </div>
</div>