.day {
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.table {
  width: 100%;
  overflow: auto;
  margin-top: 40px;
}
.month_title {
  text-align: center;
}

.buttons__wrapper {
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.current-month {
  margin: 0 15px;
}
.row-item {
  display: grid;
  grid-template-columns: 140px repeat(35, 30px);
}

.title {
  padding: 0 5px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.header {
  border-top: 1px solid black;
}

.days_wrapper-table {
  display: flex;
}

.COMMON {
  background-color: #ffffff;
}
.CUSTOM {
  background-color: rgb(144, 202, 249);
}
.LEFT {
  background-color: #ef9a9a;
  color: white;
}
.VACATION {
  background-color: #c5e1a5;
  color: white;
}
.SICK {
  background-color: #ffe082;
}
.agenda__wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
