<app-team-presence-filters
  [filtersForm]="filtersForm"
  [projects]="projects"
  [jobPositions]="jobPositions"
  [subdivisions]="subdivisions"
  [locations]="locations"
></app-team-presence-filters>

<app-month-selector
  class="select-month"
  [date]="date$ | async"
  (nextMonth)="nextMonth()"
  (prevMonth)="prevMonth()"
></app-month-selector>

<app-team-presence-table
  [holidays]="holidays"
  [date]="date$ | async"
  [monthData]="monthData$ | async | presenceFilter: filtersForm?.value:(date$ | async)"
  [monthDays]="monthDays$ | async"
></app-team-presence-table>

<app-agenda [isLineView]="true"></app-agenda>
