:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateY(-20px);
}
.login-form {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-login__suffix {
  position: absolute;
  right: -60px;
  bottom: -4px;
}
.response-message {
  display: block;
  position: absolute;
  bottom: 45px;
}
.form-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
button {
  width: 100%;
}
