:host {
  padding: 40px;
  display: block;
}

table {
  margin-top: 20px;
  width: 100%;
}

tr:hover {
  background: lightcyan;
}

button {
  margin: 15px 0 5px;
}

.delete {
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.icon-btn {
  color: gray;
  &:hover {
    color: black;
  }
}

.icon {
  width: 4%;
}

.logo {
  object-fit: contain;
  width: 30px;
  height: 30px;
}
