.container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.form-group {
  margin-bottom: -16px;

  mat-form-field {
    width: 100%;
  }
}
.form-footer {
  margin-top: 36px;
  grid-column: 2 / span 1;
  justify-self: right;
}
.grid {
  display: grid;
  grid-template-columns: minmax(50px, max-content) 1fr;
  column-gap: 30px;
  align-items: center;
  row-gap: 10px;
}
.title {
  font-size: 15px;
  font-weight: 600;
}
