<div class="table-header row_{{ daysInMonth }}">
  <div class="title header">Сотрудник</div>
  <div
    class="day header"
    *ngFor="let date of daysHeader"
    [class.currentDay]="date | isCurrentDayPipe"
    [ngClass]="date | isHolidayData: holidays"
  >
    <div>{{ date | datePipe: 'D' }}</div>
    <div>{{ date | datePipe: 'ddd' }}</div>
  </div>
</div>
<div class="table-scrolled row_{{ daysInMonth }}">
  <ng-container *ngFor="let data of monthData; index as i">
    <div class="title">
      <span class="numbering" [class.numbering-more]="i > 9">{{ i }}.</span>
      <div class="fio-n-position">
        <a [routerLink]="['/presence', data.employee.mailNickname]">
          {{ data.employee?.username }}
        </a>

        <div class="jobPosition">{{ data.employee?.jobPosition?.name }}</div>
      </div>
    </div>
    <div
      *ngFor="let task of data.tasks; index as i"
      [title]="task?.comment || ''"
      [ngClass]="i + 1 | getDateFromIndex: yearAndMonth | isHolidayData: holidays"
      [class.is-approved]="task.approved"
      class="day {{ task?.type }}"
    ></div>
  </ng-container>
</div>
