@import 'src/app/shared/styles/color';
@import 'src/app/shared/styles/scroll';

:host {
  --teamCommonDay: #fafafa;
  --teamBorderColor: #e3e3e3;

  display: block;
  margin: 20px 0;
  min-height: 200px;
  overflow-y: scroll;
  @extend .scrollbar;
}

.day {
  text-align: center;
  border-right: 1px solid var(--teamBorderColor);
  border-bottom: 2px solid var(--teamBorderColor);
  background: var(--teamCommonDay);
  min-height: 45px;

  &.header {
    border-bottom: 1px solid var(--teamBorderColor);
  }
}

.table-header {
  display: grid;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 10;

  &.row_28 {
    grid-template-columns: 30px 240px repeat(28, minmax(25px, 1fr));
  }

  &.row_29 {
    grid-template-columns: 30px 240px repeat(29, minmax(25px, 1fr));
  }

  &.row_30 {
    grid-template-columns: 30px 240px repeat(30, minmax(25px, 1fr));
  }

  &.row_31 {
    grid-template-columns: 30px 240px repeat(31, minmax(25px, 1fr));
  }
}

.table-scrolled {
  display: grid;

  &.row_28 {
    grid-template-columns: 30px 240px repeat(28, minmax(25px, 1fr));
  }

  &.row_29 {
    grid-template-columns: 30px 240px repeat(29, minmax(25px, 1fr));
  }

  &.row_30 {
    grid-template-columns: 30px 240px repeat(30, minmax(25px, 1fr));
  }

  &.row_31 {
    grid-template-columns: 30px 240px repeat(31, minmax(25px, 1fr));
  }
}

.title {
  padding: 0 5px;
  border-right: 1px solid var(--teamBorderColor);
  border-bottom: 2px solid var(--teamBorderColor);
  white-space: nowrap;
  position: sticky;
  left: 0;
  background: var(--teamCommonDay);
}

.day_HOLIDAY {
  background-color: var(--dayTypeHoliday);
}

.day_PRE_HOLIDAY {
  background-color: var(--dayTypePreHoliday);
}

.COMMON {
  background-color: var(--teamCommonDay);
}

.COMMON.day_PRE_HOLIDAY {
  background-color: var(--dayTypePreHoliday);
}

.COMMON.day_HOLIDAY {
  background-color: var(--dayTypeHoliday);
}

.CUSTOM {
  background-color: var(--dayTypeCustom);
}

.LEFT {
  background-color: var(--dayTypeLeft);
}

.VACATION {
  background-color: var(--dayTypeVacation);

  &.is-approved {
    background-color: var(--dayTypeVacationApproved);
  }
}

.SICK {
  background-color: var(--dayTypeSick);
}

.agenda__wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

mat-form-field {
  margin-right: 20px;
}

.jobPosition {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.currentDay {
  div:first-of-type {
    background: #ff3b30;
    color: white;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin: 0 auto;
  }
}

.number {
  text-align: right;
  color: #9c9a9a;
  font-size: 14px;
  margin-top: 1px;
  padding-right: 5px;
  background: var(--teamCommonDay);
}
