@import 'src/app/shared/styles/color';
@import 'src/app/shared/styles/scroll';

@function getGridColumnsByDaysInMonth($days) {
  @return 240px repeat($days, minmax(25px, 1fr));
}

:host {
  --teamCommonDay: #fafafa;
  --teamBorderColor: #e3e3e3;

  display: block;
  margin: 20px 0;
  min-height: 200px;
  overflow-y: scroll;
  @extend .scrollbar;
  position: relative;
}

.day {
  text-align: center;
  border-right: 1px solid var(--teamBorderColor);
  border-bottom: 2px solid var(--teamBorderColor);
  background: var(--teamCommonDay);
  min-height: 45px;

  &.header {
    border-bottom: 1px solid var(--teamBorderColor);
  }
}

.table-header {
  display: grid;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 9;
  min-width: min-content;

  &.row_28 {
    grid-template-columns: getGridColumnsByDaysInMonth(28);
  }

  &.row_29 {
    grid-template-columns: getGridColumnsByDaysInMonth(29);
  }

  &.row_30 {
    grid-template-columns: getGridColumnsByDaysInMonth(30);
  }

  &.row_31 {
    grid-template-columns: getGridColumnsByDaysInMonth(31);
  }
}

.table-scrolled {
  display: grid;
  min-width: min-content;

  &.row_28 {
    grid-template-columns: getGridColumnsByDaysInMonth(28);
  }

  &.row_29 {
    grid-template-columns: getGridColumnsByDaysInMonth(29);
  }

  &.row_30 {
    grid-template-columns: getGridColumnsByDaysInMonth(30);
  }

  &.row_31 {
    grid-template-columns: getGridColumnsByDaysInMonth(31);
  }
}

.title {
  padding: 0 5px;
  border-right: 1px solid var(--teamBorderColor);
  border-bottom: 2px solid var(--teamBorderColor);
  white-space: nowrap;
  position: sticky;
  left: 0;
  background: var(--teamCommonDay);
}

.day_HOLIDAY {
  background-color: var(--dayTypeHoliday);
}

.day_PRE_HOLIDAY {
  background-color: var(--dayTypePreHoliday);
}

.COMMON {
  background-color: var(--teamCommonDay);
}

.COMMON.day_PRE_HOLIDAY {
  background-color: var(--dayTypePreHoliday);
}

.COMMON.day_HOLIDAY {
  background-color: var(--dayTypeHoliday);
}

.CUSTOM {
  background-color: var(--dayTypeCustom);
}

.LEFT {
  background-color: var(--dayTypeLeft);
}

.VACATION {
  background-color: var(--dayTypeVacation);

  &.is-approved {
    background-color: var(--dayTypeVacationApproved);
  }
}

.SICK {
  background-color: var(--dayTypeSick);
}

.agenda__wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

mat-form-field {
  margin-right: 20px;
}

.jobPosition {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.currentDay {
  div:first-of-type {
    background: #ff3b30;
    color: white;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  :host {
    height: 50vh;
  }
}
