.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.clear-field-wrapper {
  display: flex;
  align-items: baseline;

  &::ng-deep .mat-form-field {
    width: 100%;
  }

  .icon-btn {
    display: block;
    padding: 10px;
    color: #dee2e6;

    &:hover {
      cursor: pointer;
      color: #919599;
    }
  }
}
