<form class="form" [formGroup]="filtersForm">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Ф.И.О." />
    <button
      mat-button
      *ngIf="filtersForm.controls['name'].value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="filtersForm.controls['name'].reset()"
    >
      <i class="fa fa-times icon-btn"></i>
    </button>
  </mat-form-field>

  <app-single-select formControlName="project" [elements]="projects" [placeholder]="'Проект'"></app-single-select>

  <app-single-select
    formControlName="subdivision"
    [elements]="subdivisions"
    [placeholder]="'Подразделение'"
  ></app-single-select>

  <app-single-select formControlName="location" [elements]="locations" [placeholder]="'Регион'"></app-single-select>
</form>
