:host {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 160px minmax(auto, 1040px);
  grid-template-rows: 160px 50px auto;
  grid-template-areas:
    'avatar tabs'
    'name tabs'
    'presence tabs';
  gap: 20px;
}

.avatar {
  grid-area: avatar;
}

.tabs {
  grid-area: tabs;
}

.presence {
  grid-area: presence;
  height: 45px;
  &:focus {
    outline: none;
  }
}

.user-name {
  grid-area: name;
  font-weight: bolder;
  text-align: center;
}
