.container {
  margin-top: 35px;
}
.sendings {
  position: absolute;
  right: 10px;
  top: 0;
  max-width: 260px;
}
.text-right {
  color: rgb(148, 148, 148);
}
.profile-form {
  margin-top: -10px;
}
.form-group {
  margin-bottom: -16px;
}
.form-footer {
  margin-top: 36px;
  margin-top: 36px;
  display: flex;
  justify-content: space-around;
  grid-column: 1/3;
}

.grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 30px;
  align-items: flex-start;
  row-gap: 10px;
}
.title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}
button {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
table {
  width: 100%;
  margin-top: 50px;
}
.project-grid {
  display: grid;
  grid-template-columns: 180px 130px 130px 20px;
  grid-gap: 10px;
  align-items: center;
}
.project {
  position: relative;
}
.add {
  display: flex;
  align-content: center;
  align-items: center;
  cursor: pointer;
  &-btn {
    width: 20px;
    height: 20px;
    background: url('/assets/icons/add.svg');
    background-size: 100%;
  }
  &-margin {
    margin-top: 20px;
  }
}
.span-project {
  padding-left: 10px;
}
.delete {
  width: 20px;
  height: 20px;
  background: url('/assets/icons/remove.svg');
  background-size: 100%;
  margin-left: 10px;
  cursor: pointer;
}
.checkbox {
  margin-top: 20px;
}

.mat-form-field {
  width: 100%;
}
.scroll {
  max-height: 560px;
  overflow-y: scroll;
}

@media (max-width: 1200px) {
  .sendings {
    position: static;
    max-width: 100%;
  }
}
