.container {
  margin-top: 35px;
}
.text-right {
  color: rgb(148, 148, 148);
}
.profile-form {
  margin-top: -10px;
}
.form-group {
  margin-bottom: -16px;
}
.form-footer {
  margin-top: 36px;
  margin-top: 36px;
  display: flex;
  justify-content: space-around;
  grid-column: 1/3;
}

.grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 30px;
  align-items: center;
  row-gap: 10px;
}
.title {
  font-size: 15px;
  font-weight: 600;
}
button {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
table {
  width: 100%;
  margin-top: 50px;
}
