<ng-container *ngIf="selectedUser">
  <ngx-avatar
    class="avatar"
    *ngIf="(settings$ | async)?.FEATURE_AVATAR_SOURCE === 'CONFLUENCE'; else noAvatar"
    [src]="selectedUser | avatarSource"
    [size]="isMobile ? 80 : 160"
    value="{{ selectedUser.username | usernamePipe }}"
  ></ngx-avatar>

  <ng-template #noAvatar>
    <ngx-avatar
      class="avatar"
      [size]="isMobile ? 80 : 160"
      value="{{ selectedUser.username | usernamePipe }}"
    ></ngx-avatar>
  </ng-template>

  <div class="user-skills">
    <div class="image-wrapper" *ngFor="let skill of selectedUser.skills">
      <img class="skill-logo" [src]="baseUrl + '/skills/logo/' + skill.logoName" [title]="skill.hint" />
    </div>
  </div>

  <div class="user-name">{{ selectedUser.username }}</div>

  <button
    class="presence"
    mat-raised-button
    color="primary"
    [routerLink]="['/presence', selectedUser.mailNickname]"
    mat-button
  >
    Присутствие
  </button>
  <div class="online-time">
    Заходил(а):
    <span class="time">{{ selectedUser.lastTimeOnline | date: 'dd.MM в hh:mm' }}</span>
  </div>

  <mat-tab-group
    class="tabs"
    [animationDuration]="0"
    [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="tabChange($event)"
  >
    <mat-tab label="Информация">
      <app-profile-form
        [selectedUser]="selectedUser"
        [isAdmin]="isAdmin$ | async"
        [canEdit]="canEdit$ | async"
        (updateProfile)="onUpdateProfile($event)"
      ></app-profile-form>
    </mat-tab>

    <mat-tab label="Проекты">
      <app-profile-projects
        [projects]="selectedUser.projectsNew"
        [isAdmin]="isAdmin$ | async"
        (updateValue)="onUpdateValue($event)"
      ></app-profile-projects>
    </mat-tab>

    <mat-tab label="Подписки">
      <app-profile-subscriptions
        [selectedUser]="selectedUser"
        [currentUser]="currentUser$ | async"
        [isCurrentUserAdmin]="isAdmin$ | async"
        [users$]="users$"
        [userFollow]="userFollow"
        (addFollow)="addFollow($event)"
        (deleteFollowing)="deleteFollowing($event)"
      ></app-profile-subscriptions>
    </mat-tab>

    <mat-tab label="История">
      <app-profile-history [userLogin]="selectedUser?.mailNickname"></app-profile-history>
    </mat-tab>

    <mat-tab label="Скиллы">
      <app-profile-skills
        [selectedUser]="selectedUser"
        [currentUser]="currentUser$ | async"
        [isAdmin]="isAdmin$ | async"
        (updateSelectedUser)="updateSelectedUser($event)"
      ></app-profile-skills>
    </mat-tab>
  </mat-tab-group>
</ng-container>
