<div class="container">
  <div class="page-title">Производственный календарь</div>

  <div class="file-input-wrapper">
    <app-file-input-reset
      [formControl]="fileControl"
      [fileType]="fileType"
      [buttonText]="buttonText">
    </app-file-input-reset>

    <button
      mat-raised-button
      color="primary"
      (click)="sendToDB()">загрузить в базу
    </button>
  </div>


  <div *ngIf="(holidays$ | async).length > 0; else emptyTable">
    <div *ngFor="let year of (holidays$ | async); let i = index" class="holidays-wrapper">
      <div>
        <div class="holidays-year">{{year?.year}}</div>
        <div>Всего праздничных и выходных дней: {{year?.allDays}}</div>
        <div>Всего рабочих дней: {{year?.allWork}}</div>
        <div>Рабочих часов при рабочей неделе</div>
        <table>
          <tr>
            <td>24-часовой</td>
            <td>36-часовой</td>
            <td>40-часовой</td>
          </tr>
          <tr>
            <td>{{year?.hours24}}</td>
            <td>{{year?.hours36}}</td>
            <td>{{year?.hours40}}</td>
          </tr>
        </table>
      </div>

      <div class="year-wrapper">
        <app-calendar-block [days]="year.months.Jan"
                            [date]="getDate(year.year, 1)"></app-calendar-block>
        <app-calendar-block [days]="year.months.Feb"
                            [date]="getDate(year.year, 2)"></app-calendar-block>
        <app-calendar-block [days]="year.months.Mar"
                            [date]="getDate(year.year, 3)"></app-calendar-block>
        <app-calendar-block [days]="year.months.Apr"
                            [date]="getDate(year.year, 4)"></app-calendar-block>
        <app-calendar-block [days]="year.months.May"
                            [date]="getDate(year.year, 5)"></app-calendar-block>
        <app-calendar-block [days]="year.months.June"
                            [date]="getDate(year.year, 6)"></app-calendar-block>
        <app-calendar-block [days]="year.months.July"
                            [date]="getDate(year.year, 7)"></app-calendar-block>
        <app-calendar-block [days]="year.months.Aug"
                            [date]="getDate(year.year, 8)"></app-calendar-block>
        <app-calendar-block [days]="year.months.Sept"
                            [date]="getDate(year.year, 9)"></app-calendar-block>
        <app-calendar-block [days]="year.months.Oct"
                            [date]="getDate(year.year, 10)"></app-calendar-block>
        <app-calendar-block [days]="year.months.Nov"
                            [date]="getDate(year.year, 11)"></app-calendar-block>
        <app-calendar-block [days]="year.months.Dec"
                            [date]="getDate(year.year, 12)"></app-calendar-block>
      </div>
    </div>
  </div>

  <ng-template #emptyTable>
    <div class="empty-data">
      <div>
        Производственный календарь не загружен.
      </div>
      <a
        target="_blank"
        href="https://data.gov.ru/opendata/resource/8ba5011a-233e-4e01-a1d2-ff5598d0f34f#2/0.0/0.0">Здесь можно скачать
        актуальную версию:</a>
      <div>При скачивании выбрать: Последний набор (UFR-8)</div>
    </div>

  </ng-template>
</div>
