<app-profile-projects-chart [projects]="projects" [projectsMaxPeriod]="projectsMaxPeriod"></app-profile-projects-chart>

<app-profile-projects-table
  *ngIf="projects?.length"
  [projects]="projects"
  [projectsMaxPeriod]="projectsMaxPeriod"
  [isAdmin]="isAdmin"
  [projectDict]="projectDict"
  (updateValue)="updateValue.emit($event)"
></app-profile-projects-table>
<button mat-raised-button color="primary" (click)="addProjectDialog()">Добавить проект</button>
<button mat-raised-button color="primary" (click)="addDateDialog()">Добавить месяц</button>
