@import 'src/app/shared/styles/scroll';

.tab-scroll-content {
  max-height: calc(100vh - 260px);
  @extend .scrollbar;
}

.history-table {
  width: 100%;

  tr:hover {
    background-color: white;
  }

  td {
    padding: 8px 4px;
    vertical-align: super;
    border-bottom: 1px solid #dee2e6;
  }

  .change-date {
    width: 110px;
  }

  .date {
    width: 110px;
  }

  .employee {
    width: 150px;
  }

  .type {
    width: 110px;
  }

  .comment {
    width: 200px;
  }
}

.empty-history {
  text-align: center;
  color: #b9b7b7;
  padding: 20px 0;
}

@media (max-width: 767px) {
  .element-hidden {
    display: none;
  }
}
