@import 'src/app/shared/styles/scroll';

.history-table {
  width: 100%;

  tr:hover {
    background-color: white;
  }

  td {
    padding: 8px 4px;
    vertical-align: super;
    border-bottom: 1px solid #dee2e6;
    min-width: 110px;
  }

  .change-date,
  .date,
  .type {
    width: 110px;
  }

  .employee {
    width: 150px;
  }

  .comment {
    width: 200px;
  }
}

.empty-history {
  text-align: center;
  color: #b9b7b7;
  padding: 20px 0;
}
