<app-month-selector
  *ngIf="!hideMonths"
  [date]="date$ | async"
  (nextMonth)="nextMonth()"
  (prevMonth)="prevMonth()"
></app-month-selector>

<ng-template #desktopSelect>
  <app-radio-button-group
    (valueChosen)="changeSubdivision($event)"
    [data]="subdivision"
    [groupName]="'jobPositions-filter'"
    [defaultChoice]="filtersForm.value['subdivision']"
  ></app-radio-button-group>
</ng-template>

<app-single-select
  *ngIf="isMobileVersion; else desktopSelect"
  [formControl]="filtersForm.get('subdivision')"
  [elements]="subdivision"
  placeholder="Подразделение"
></app-single-select>
