<div mat-dialog-content>
  <h4>{{data.name}}</h4>

  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Выберете год</mat-label>
      <mat-select formControlName="year">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-file-input-reset
      formControlName="file"
      [fileType]="fileType"
      [buttonText]="buttonText">
    </app-file-input-reset>
  </form>


</div>

<div class="buttons"
     mat-dialog-actions>
  <button mat-button (click)="onEnter()">Добавить
  </button>

  <button mat-button
          (click)="onNoClick()">Закрыть
  </button>
</div>
