<div class="container-fit">
  <app-project-teams-filter [filtersForm]="filtersForm" [subdivision]="subdivisionData"></app-project-teams-filter>

  <div class="table-title">
    <table class="project-table">
      <tr>
        <td></td>
        <td *ngFor="let loc of location">
          {{ loc }}
        </td>
      </tr>
    </table>
  </div>
  <div class="tab-scroll-content">
    <table class="project-table">
      <tr *ngFor="let project of projectsData | projectTeamsFilter: filtersForm.value">
        <td>
          <div class="project-name">
            <a [href]="getLink(project.projectID)">
              {{ project.projectName }}
            </a>
          </div>
        </td>
        <td class="project-cell" *ngFor="let loc of location">
          <div class="users-wrapper">
            <div *ngFor="let user of project.users | userForLocation: loc">
              <app-user-card [user]="user"></app-user-card>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
