@import 'src/app/shared/styles/scroll';

:host {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
}

.sticky-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  top: 0;
  position: sticky;
  background: #fafafa;
  z-index: 9;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.location-grid {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 300px;
  overflow-x: scroll;
  @extend .scrollbar;
}

.location-row {
  border: 1px solid #dee2e6;
  display: flex;
  flex-direction: row;
}

.location-p {
  position: sticky;
  left: 0;
  min-width: 200px;
  min-height: 110px;
  background-color: #fafafa;
  z-index: 8;
  margin: auto 0;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.location {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border: 1px solid #dee2e6;
}

.project-table {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .sticky-header {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .sticky-header {
    flex-direction: column;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .desktop-item,
  .location {
    display: none;
    border: none;
  }
}
