@import 'src/app/shared/styles/scroll';

:host {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.sticky-header {
  top: 0;
  position: sticky;
  background: #fafafa;
  z-index: 9;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.location {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border: 1px solid #dee2e6;
}

.project-table {
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 767px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .desktop-item,
  .location {
    display: none;
    border: none;
  }
}
