<div (swipe)="onSwipe($event)" class="container-header shadow-sm">
  <div class="user-info-container">
    <div class="mobile-menu" (click)="mobileMenuClick.emit()">
      <i class="fa fa-bars"></i>
    </div>
    <div class="main-logo">
      <img src="../../../../assets/images/logo_it2g.png" />
    </div>
  </div>

  <app-navigation-menu class="menu"></app-navigation-menu>
  <span class="header-spacer"></span>
  <app-personal-menu
    class="menu"
    [color]="(currentUser$ | async)?.subdivision?._id | colorSubdivision"
  ></app-personal-menu>
</div>
