:host {
  --headerHeight: 80px;
  height: var(--headerHeight);
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;

  display: grid;
  grid-template-columns: 100px 1fr 200px;
  grid-template-areas: 'logo nav personal';
  grid-template-rows: var(--headerHeight);
  align-items: center;
  justify-items: center;
  box-shadow: -1px -1px 3px 0px;
}

@media screen and (max-width: 860px) {
  :host {
    grid-template-columns: 100px 1fr 200px;
    grid-template-areas: 'nav logo personal';
  }

  .main-logo {
    height: 35px;
  }
}

.main-logo {
  height: 55px;
  grid-area: logo;
  img {
    height: inherit;
    display: block;
  }
}

.nav-menu {
  grid-area: nav;
  justify-self: start;
}

.personal-menu {
  grid-area: personal;
}
