.contaienr {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.avatar {
  margin-right: 10px;
}

.header-search {
  padding: 0 30px;
}

.user-info-container {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.header-search-form {
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
    padding-right: 14px;
  }
}
