<div class="title">Проверьте данные</div>
<div style="display: flex;">
  <div class="subtitle">Кто (именительный)</div>
  <div class="subtitle">От кого (родительный)</div>
</div>

<div class="profile-form" [formGroup]="profileForm" (keydown.enter)="onUpdateProfile()">
  <mat-form-field class="form-group">
    <input matInput placeholder="фамилия" autocomplete="off" formControlName="surname" />
  </mat-form-field>
  →
  <mat-form-field class="form-group">
    <input matInput placeholder="фамилия" autocomplete="off" formControlName="surnameFrom" />
  </mat-form-field>
  <mat-form-field class="form-group">
    <input matInput placeholder="имя" autocomplete="off" formControlName="name" />
  </mat-form-field>
  →
  <mat-form-field class="form-group">
    <input matInput placeholder="имя" autocomplete="off" formControlName="nameFrom" />
  </mat-form-field>
  <mat-form-field class="form-group">
    <input
      matInput
      placeholder="отчество"
      autocomplete="off"
      formControlName="patronymic"
      (keyup)="patronymicChange()"
    />
  </mat-form-field>
  →
  <mat-form-field class="form-group">
    <input matInput placeholder="отчество" autocomplete="off" formControlName="patronymicFrom" />
  </mat-form-field>
</div>

<div class="buttons">
  <button mat-raised-button (click)="onUpdateProfile()" color="primary">Сформировать заявление</button>
  <button mat-raised-button (click)="dialogRef.close(false)">
    Отмена
  </button>
</div>
