<div class="container"
  *ngIf="selectedUser as user">
  <div class="row">
    <div class="col-md-2">
      <ngx-avatar size="160"
        value="{{ user.username | usernamePipe }}">
      </ngx-avatar>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-5 text-right">
          <h3>фамилия, имя:</h3>
          <h3>email:</h3>
          <h3>проекты:</h3>
          <h3>город:</h3>
          <h3>номер:</h3>
        </div>

        <div class="col-md-7"
          *ngIf="!isEdit">
          <h3>{{ user.username }}</h3>
          <h3>
            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
          </h3>
          <h3>{{ user.projects? user.projects : "-" }}</h3>
          <h3>
            <a href="#">{{ user.location }}</a>
          </h3>
          <h3 *ngIf="user.telNumber; else noTelNumber">
            <a href="tel:{{ user.telNumber }}">{{ user.telNumber }}</a>
          </h3>
          <ng-template #noTelNumber>
            <h3>-</h3>
          </ng-template>
          <button color="primary"
            mat-raised-button
            *ngIf="isAdmin$ | async"
            (click)="onEditProfile()">Редактировать
          </button>
        </div>

        <div class="profile-form col-md-7"
          *ngIf="isEdit"
          [formGroup]="profileForm"
          (keydown)=onEnter($event)>

          <div class="form-group">
            <mat-form-field>
              <input matInput
                value="{{ user.username }}"
                autocomplete="off"
                formControlName="username">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput
                value="{{ user.email }}"
                autocomplete="off"
                formControlName="email">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput
                value="{{ user.projects }}"
                autocomplete="off"
                formControlName="projects">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput
                value="{{ user.location }}"
                autocomplete="off"
                formControlName="location">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput
                value="{{ user.telNumber }}"
                autocomplete="off"
                formControlName="telNumber">
            </mat-form-field>
          </div>

          <div class="form-group checkbox">
            <mat-checkbox color="primary"
              formControlName="isAdmin">админ?
            </mat-checkbox>
          </div>

          <div class="form-footer">
            <button type="submit"
              mat-raised-button
              color="primary"
              [disabled]="profileForm.invalid"
              (click)="onUpdateProfile()">Сохранить
            </button>
            <button mat-raised-button
              *ngIf="isEdit"
              (click)="onEditProfile()">Отмена
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>