<div class="sticky-header">
  <app-project-teams-filter
    [filtersForm]="filtersForm"
    [subdivision]="subdivisionData"
    [isMobileVersion]="isMobileVersion"
    [hideMonths]="true"
  ></app-project-teams-filter>
</div>

<div class="location-grid" *ngIf="!loadInProgress">
  <div class="location-row" *ngFor="let loc of location">
    <div class="location">
      {{ loc }}
      <div class="location-count">
        <ng-container *ngFor="let subdivision of allSubdivisions">
          <span
            *ngIf="
              (locationUser[loc] | peopleSudivisionFilter: subdivision).length &&
              filtersForm.value['subdivision'] === 'all-items'
            "
          >
            {{ subdivision + ': ' + (locationUser[loc] | peopleSudivisionFilter: subdivision).length + ' чел.' }}
          </span>
        </ng-container>
        <span>
          Итого: {{ (locationUser[loc] | peopleSudivisionFilter: filtersForm.value['subdivision']).length + ' чел.' }}
        </span>
      </div>
    </div>
    <div class="user-grid" *ngIf="locationUser">
      <div *ngFor="let user of locationUser[loc] | peopleSudivisionFilter: filtersForm.value['subdivision']">
        <app-user-card [user]="user" [date]="filtersForm.get('month').value" theme="peoples-page"></app-user-card>
      </div>
    </div>
  </div>
  <span class="total-users">Всего: {{ totalUsers }} чел.</span>
</div>

<div class="loader-container" *ngIf="loadInProgress">
  <app-spring-spinner [animationDuration]="1000" [size]="80" color="#90caf9"></app-spring-spinner>
</div>
