<div class="sticky-header">
  <app-project-teams-filter
    [filtersForm]="filtersForm"
    [subdivision]="subdivisionData"
    [isMobileVersion]="isMobileVersion"
    [hideMonths]="true"
  ></app-project-teams-filter>
</div>

<div class="location-grid" *ngIf="!loadInProgress">
  <div class="location-row" *ngFor="let loc of location">
    <div class="location">
      {{ loc }}
      <span class="location-count">
        {{ (locationUser[loc] | peopleSudivisionFilter: filtersForm.value['subdivision']).length + ' чел.' }}
      </span>
    </div>
    <div class="user-grid" *ngIf="locationUser">
      <div *ngFor="let user of locationUser[loc] | peopleSudivisionFilter: filtersForm.value['subdivision']">
        <app-user-card [user]="user" [date]="filtersForm.get('month').value"></app-user-card>
      </div>
    </div>
  </div>
</div>

<div class="loader-container" *ngIf="loadInProgress">
  <app-spring-spinner [animationDuration]="1000" [size]="80" color="#90caf9"></app-spring-spinner>
</div>
