<div class="wrapper">
  <div class="login-form"
    [formGroup]="loginForm"
    (keydown.enter)=login()>
    <div class="form-group">
      <mat-form-field>
        <input matInput
          placeholder="E-Mail"
          autocomplete="off"
          formControlName="username">
        <span matSuffix *ngIf='!(hasRegistration$ | async)'
          class="input-login__suffix">{{(settings$ | async)?.MAIL_POSTFIX}}</span>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput
          placeholder="password"
          type="password"
          autocomplete="off"
          formControlName="password">
      </mat-form-field>
      <label class="response-message error">{{errorMessage}}</label>
    </div>
    <div class="form-footer">
      <div>
        <button type="submit"
          mat-raised-button
          color="primary"
          (click)="login()"
          [disabled]="loginForm.invalid">Войти</button>
      </div>
      <div *ngIf='hasRegistration$ | async'>
        <button type="submit"
          mat-raised-button
          color="primary"
          routerLink='/registration'>Регистрация</button></div>
    </div>
  </div>
</div>
