.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
  transform: translateY(-20px);
}
.login-form {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-login__suffix {
  position: absolute;
  right: -60px;
  bottom: -4px;
}
.response-message {
  padding: 5px 10px;
  margin-top: 20px;
  max-width: 50%;
}

.response-message.error {
  color: #f05772;
}


.form-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  > div {
    margin-right: 10px;
    &:last-child {
      margin: 0;
    }
  }
}
button {
  width: 100%;
}
