:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  width: 100%;
  max-width: 350px;
  margin-top: -100px;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 15px;
  padding: 25px;
}

.input-login__suffix {
  position: absolute;
  right: -60px;
  bottom: -4px;
}

.form-footer {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .login-form {
    max-width: 200px;
    padding: 15px;
  }
}
