.question {
  font-size: 20px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.file-container {
  display: block;
  margin: 0 auto;
  width: 190px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.file-placeholder {
  text-align: center;
  margin-left: -15px;
}
