<div class="container">
  <div class="settings" [formGroup]="settingsForm">
    <div class="page-title">Настройки</div>

    <mat-form-field class="form-group">
      <input placeholder="Заголовок страницы" matInput autocomplete="off" formControlName="title" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="updateSettings()">сохранить</button>
  </div>

  <div class="logo-container">
    <div class="page-title">Логотип</div>
    <div class="logo-preview" *ngIf="logoName$ | async; else uploadLogo">
      <img class="logo" [src]="baseUrl + '/settings/logo/' + (logoName$ | async)" />

      <button mat-raised-button color="primary" (click)="deleteLogo()">
        Удалить
      </button>
    </div>
  </div>

  <ng-template #uploadLogo>
    <div class="file-container">
      <input-file
        [disabled]="isLogoDisabled$ | async"
        fileAccept="image/*"
        placeholder=""
        [fileLimit]="1"
        [(ngModel)]="files"
        (acceptedFile)="addLogo($event)"
      ></input-file>
      <div class="file-placeholder">Добавьте или перетащите</div>
    </div>
  </ng-template>
</div>
