.page-title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 0;
}

.file-container {
  display: block;
  width: 190px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.file-placeholder {
  text-align: center;
  margin-left: -15px;
}

.logo-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 175px;
  padding: 20px;

  & .logo {
    width: 100%;
    margin-bottom: 20px;
  }
}
