<div class="profile-form" [formGroup]="profileForm" (keydown.enter)="onUpdateProfile()">
  <mat-form-field class="form-group">
    <input matInput placeholder="фамилия, имя" autocomplete="off" formControlName="username" />
  </mat-form-field>

  <mat-form-field class="form-group">
    <input placeholder="email" matInput autocomplete="off" formControlName="email" />
  </mat-form-field>

  <mat-form-field class="form-group control control-date">
    <input
      placeholder="день рождения"
      matInput
      autocomplete="off"
      formControlName="birthday"
      [matDatepicker]="birthday"
    />
    <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
    <mat-datepicker #birthday></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-select placeholder="позиция" formControlName="jobPosition">
      <mat-option *ngFor="let jobPosition of jobPositions" [value]="jobPosition">{{ jobPosition?.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-group">
    <input placeholder="телефон" matInput autocomplete="off" formControlName="telNumber" />
  </mat-form-field>

  <mat-form-field class="form-group">
    <input placeholder="город" matInput autocomplete="off" formControlName="location" />
  </mat-form-field>

  <mat-form-field class="form-group">
    <input placeholder="skype" matInput autocomplete="off" formControlName="skype" />
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-select placeholder="подразделение" formControlName="subdivision">
      <mat-option *ngFor="let subdivision of subdivisions" [value]="subdivision">
        {{ subdivision?.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-group">
    <input placeholder="telegram" matInput autocomplete="off" formControlName="telegram" />
  </mat-form-field>

  <mat-form-field class="form-group control control-date">
    <input
      placeholder="дата выхода"
      matInput
      autocomplete="off"
      formControlName="whenCreated"
      [matDatepicker]="pickerCreate"
    />
    <mat-datepicker-toggle matSuffix [for]="pickerCreate"></mat-datepicker-toggle>
    <mat-datepicker #pickerCreate></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="isAdmin || profileForm.get('terminationDate').value" class="form-group control control-date">
    <input
      placeholder="дата увольнения"
      matInput
      autocomplete="off"
      formControlName="terminationDate"
      [matDatepicker]="pickerTerminate"
    />
    <mat-datepicker-toggle matSuffix [for]="pickerTerminate"></mat-datepicker-toggle>
    <mat-datepicker #pickerTerminate></mat-datepicker>
  </mat-form-field>

  <mat-checkbox *ngIf="isAdmin" class="form-group checkbox" color="primary" formControlName="isAdmin">
    админ
  </mat-checkbox>

  <mat-checkbox class="form-group checkbox" color="primary" formControlName="remoteWork">удаленная работа</mat-checkbox>

  <div class="form-footer">
    <button type="submit" mat-raised-button color="primary" *ngIf="!isEdit && canEdit" (click)="editStart()">
      Редактировать
    </button>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      *ngIf="isEdit"
      [disabled]="profileForm.invalid"
      (click)="onUpdateProfile()"
    >
      Сохранить
    </button>
    <button mat-raised-button *ngIf="isEdit" (click)="cancelEdit()">Отмена</button>
  </div>
</div>
