@import 'src/app/shared/styles/scroll';

button {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  align-items: flex-start;
  row-gap: 10px;
}

.form-footer {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  grid-column: 1 / 3;
  margin-bottom: 15px;
}

.mat-form-field {
  width: 100%;
}

.span-project {
  padding-left: 10px;
}

.delete {
  width: 20px;
  height: 20px;
  background: url('/assets/icons/remove.svg');
  background-size: 100%;
  margin-left: 10px;
  cursor: pointer;
}

.checkbox {
  margin-top: 20px;
}

.other-disabled-color {
  .clickable-field {
    cursor: pointer;
  }

  .mat-input-element:disabled {
    color: #000000de !important;
  }
}
.text-right {
  color: rgb(148, 148, 148);
}

::ng-deep .mat-tab-body {
  padding: 20px 10px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .profile-form {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .profile-form {
    grid-template-columns: 1fr;
  }

  .form-footer {
    grid-column: 1 / 2;
  }
}
