@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/shared/styles/snackbar';

:root {
  --colorActiveField: rgb(48, 155, 230);
}

*:focus {
  outline: none;
}

button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

.flex-1 {
  flex: 1;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }

  .container-fit {
    padding: 30px 0;
    max-width: fit-content;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .container.container-adapt {
    padding: 30px 0;
  }
}

//чтобы выделять заполненные поля формы, добавьте этот класс к mat-form-field,
// с проверкой пример: [ngClass]="{'active-field': filtersForm.controls['name'].value}"
.active-field {
  color: var(--colorActiveField);

  .mat-select-value-text {
    color: var(--colorActiveField);
  }

  .mat-form-field-underline {
    background-color: var(--colorActiveField);
  }

  &.mat-focused .mat-form-field-ripple {
    background-color: var(--colorActiveField);
  }
}
//если нужно подкрасить и кнопку очистки поля, добавьте иконке класс ниже:
// пример: <i class="fa fa-times icon-btn active-clear-button"></i>
.active-clear-button {
  color: var(--colorActiveField);

  &:hover {
    cursor: pointer;
  }
}
