.nav-item {
  color: #333;
  padding: 10px 25px;
  display: flex;
  align-items: center;

  &.active {
    text-decoration: underline;
  }
}

@media screen and (max-width: 860px) {
  mat-icon {
    margin: 10px;
  }
}
