.nav-item {
  color: #333;
  text-decoration: underline;
  padding: 10px 25px;
  display: flex;
  align-items: center;
}
.active {
  text-decoration: none;
  font-weight: 600;
}

.btn {
  margin: 10px 25px;
}

@media (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
}
