<div class="title">Недостаточно данных</div>
<div class="subtitle">Для продолжения работы нужно заполнить следующее поле:</div>

<div class="profile-form" [formGroup]="profileForm" (keydown.enter)="onUpdateProfile()">
  <mat-form-field class="form-group">
    <input matInput placeholder="отчество" autocomplete="off" formControlName="patronymic" />
  </mat-form-field>
</div>

<div class="buttons">
  <button mat-raised-button (click)="onUpdateProfile()" color="primary">Обновить</button>
  <button mat-raised-button (click)="dialogRef.close(false)">
    Отмена
  </button>
</div>
