.title {
  font-size: 1.5rem;
}

.subtitle {
  padding-bottom: 1rem;
}

.profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  align-items: flex-start;
  row-gap: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
