<div class="custom-file-input-wrapper">
  <input
    #customFileInput
    class="native-file-input"
    type="file"
    id="file-input"
    accept="{{fileType}}"/>

  <div class="custom-upload-file-input">
    <button
      mat-raised-button
      *ngIf="!file"
      class="custom-upload-file-input-label"
      type="button"
      (click)="customFileInput.click()"
      for="file-input"
      color="primary">
      {{buttonText}}
    </button>

    <div *ngIf="!!file" class="selected-file-name">
      {{ file.name }}
    </div>

    <button *ngIf="!!file" mat-icon-button (click)="onFileReset()" class="close-button">
      <i class="fa fa-times delete-btn"
         aria-hidden="true"></i>
    </button>
    <div class="error-message">
      <ng-content></ng-content>
    </div>
  </div>
</div>
