<div class="container" *ngIf="employees">
  <div class="row">
    <mat-form-field>
      <mat-label>Проект</mat-label>
      <mat-select [formControl]="filter">
        <mat-option>Сбросить</mat-option>
        <mat-option *ngFor="let project of projects$ | async" [value]="project._id">
          {{ project.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="openDialog()">Добавить пользователя</button>
  </div>

  <table mat-table [dataSource]="employees | filterEmployeePipe: filter.value" class="mat-elevation-z6">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef data-column-name="username">Фамилия, имя</th>
      <td mat-cell *matCellDef="let employee">
        <a [routerLink]="['/profile', employee.mailNickname]">{{ employee.username }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef data-column-name="mailNickname">Логин</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.mailNickname }}
      </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef data-column-name="birthday">Дата рождения</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.birthday ? (employee.birthday | date: 'dd MMMM yyyy') : '-' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="projects">
      <th mat-header-cell *matHeaderCellDef data-column-name="currentProject">Проекты</th>
      <td mat-cell *matCellDef="let employee">{{ employee | currentProjectsPipe }}</td>
    </ng-container>

    <ng-container matColumnDef="jobPosition">
      <th mat-header-cell *matHeaderCellDef data-column-name="whenCreated">Дата выхода</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.whenCreated ? (employee.whenCreated | date: 'dd MMMM yyyy') : '-' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef data-column-name="terminationDate">Дата увольнения</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.terminationDate ? (employee.terminationDate | date: 'dd MMMM yyyy') : '-' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="terminationDate">
      <th mat-header-cell *matHeaderCellDef data-column-name="jobPosition">Позиция</th>
      <td mat-cell *matCellDef="let employee">{{ employee.jobPosition ? employee.jobPosition?.name : '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="subdivision">
      <th mat-header-cell *matHeaderCellDef data-column-name="subdivision">Подразделение</th>
      <td mat-cell *matCellDef="let employee">{{ employee.subdivision ? employee.subdivision?.name : '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="projectOffice">
      <th mat-header-cell *matHeaderCellDef data-column-name="projectOffice">Проектный офис</th>
      <td mat-cell *matCellDef="let employee">{{ employee.projectOffice ? employee.projectOffice?.name : '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef data-column-name="location">Город</th>
      <td mat-cell *matCellDef="let employee">{{ employee.location }}</td>
    </ng-container>

    <ng-container matColumnDef="telNumber">
      <th mat-header-cell *matHeaderCellDef data-column-name="telNumber">Номер</th>
      <td mat-cell *matCellDef="let employee">{{ employee.telNumber ? employee.telNumber : '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef data-column-name="isAdmin">Админ</th>
      <td mat-cell *matCellDef="let employee">{{ employee.isAdmin ? 'Да' : 'Нет' }}</td>
    </ng-container>

    <ng-container matColumnDef="deleteUser">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="delete" mat-cell *matCellDef="let employee" (click)="delete(employee)">
        <i class="fa fa-times icon-btn" aria-hidden="true"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
