:host {
  display: flex;
  align-items: baseline;
}

.button-change-month {
  cursor: pointer;
  font-size: 21px;
  line-height: 34px;
  width: 34px;
  text-align: center;
  border-radius: 50%;

  i {
    color: #dee2e6;
  }

  &:hover {
    background-color: white;

    i {
      color: #007bff;
    }
  }
}

.current-month {
  margin: 0 15px;
  width: 115px;
  text-align: center;
  text-transform: capitalize;
}
