<table class="history-table" *ngIf="filteredTasks.length; else emptyHistory">
  <thead>
  <tr>
    <td class="change-date">Дата</td>
    <td class="employee">Кто</td>
    <td class="type">Вид</td>
    <td class="comment">Комментарий</td>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let element of filteredTasks">
    <td class="change-date">{{ element.dtCreated | datePipe: 'DD MMMM, HH:mm' }}</td>
    <td class="employee">{{ element.employeeCreated | currentEmployee }}</td>
    <td class="type">
      <span
        class="task-type-label"
        [ngStyle]="{'background-color' : element.type | taskTypeColor }">{{ element.type | taskType }}</span>
    </td>
    <td class="comment">{{ element.comment }}</td>
  </tr>
  </tbody>
</table>
<ng-template #emptyHistory>
  <div class="empty-history">Нет истории изменений.</div>
</ng-template>
