<form class="form-container"
  [formGroup]="form">
  <p>Присутствие</p>

  <mat-form-field class="control">
    <input matInput
      formControlName="dateStart"
      [matDatepicker]="picker"
      placeholder="с">
    <mat-datepicker-toggle matSuffix
      [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="control">
    <input matInput
      formControlName="dateEnd"
      [matDatepicker]="pickerTo"
      placeholder="по">
    <mat-datepicker-toggle matSuffix
      [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="control">
    <mat-select placeholder="вид"
      formControlName="type">
      <mat-option *ngFor="let item of options"
        [value]="item">
        {{item.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="control">
    <textarea matInput
      formControlName="comment"
      placeholder="Комментарий"></textarea>
  </mat-form-field>

  <button mat-raised-button
    class="control"
    color="primary"
    (click)="addTask()">Сохранить</button>

</form>


<div class="wrapper">
  <table mat-table
    [dataSource]="(tasks$ | async)"
    class="mat-elevation-z8">


    <!-- Position Column -->
    <ng-container matColumnDef="dateStart">
      <th mat-header-cell
        *matHeaderCellDef>Дата</th>
      <td mat-cell
        *matCellDef="let element"> {{element.dateStart | datePipe:'D MMMM YYYY'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell
        *matHeaderCellDef>Причина отсутствия</th>
      <td mat-cell
        *matCellDef="let element"> {{getTitle(element.id)}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="timeStamp">
      <th mat-header-cell
        *matHeaderCellDef>Дата записи</th>
      <td mat-cell
        *matCellDef="let element"> {{element.timeStamp| datePipe:'D MMMM YYYY'}} </td>
    </ng-container>


    <tr mat-header-row
      *matHeaderRowDef="displayedColumns ;sticky: true"></tr>
    <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>