p.MsoNormal,
li.MsoNormal,
div.MsoNormal {
  margin: 0cm;
  margin-bottom: 0.0001pt;
  font-size: 12pt;
  font-family: 'Times New Roman', serif;
}

h1 {
  margin: 0cm;
  margin-bottom: 0.0001pt;
  text-align: center;
  page-break-after: avoid;
  font-size: 10pt;
  font-family: 'Courier New';
}

h2 {
  margin-top: 0cm;
  margin-right: -18.25pt;
  margin-bottom: 0cm;
  margin-left: -18pt;
  margin-bottom: 0.0001pt;
  text-align: center;
  page-break-after: avoid;
  font-size: 10pt;
  font-family: 'Courier New';
}

h3 {
  margin-top: 0cm;
  margin-right: -5.4pt;
  margin-bottom: 0cm;
  margin-left: -3.05pt;
  margin-bottom: 0.0001pt;
  page-break-after: avoid;
  font-size: 12pt;
  font-family: 'Times New Roman', serif;
  font-weight: normal;
  text-decoration: underline;
}

p.MsoAcetate,
li.MsoAcetate,
div.MsoAcetate {
  margin: 0cm;
  margin-bottom: 0.0001pt;
  font-size: 8pt;
  font-family: 'Tahoma', sans-serif;
}

.MsoChpDefault {
  font-size: 10pt;
}

@page WordSection1 {
  size: 595.3pt 841.9pt;
  margin: 42.55pt 42.55pt 42.55pt 3cm;
}

div.WordSection1 {
  page: WordSection1;
}

/* List Definitions */
ol {
  margin-bottom: 0cm;
}

ul {
  margin-bottom: 0cm;
}
:host {
  display: none;
}
