.user-card {
  position: relative;
  border-radius: 4px;
  background-color: white;
  margin: 5px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);

  display: flex;

  &.card-s {
    min-width: 188px;
    height: 110px;
  }

  .user-name {
    display: block;
    padding: 8px 8px 8px 36px;
  }
}

::ng-deep.avatar-center {
  display: flex;
  justify-content: center;
}

.avatar-area {
  padding: 25px 8px;
  position: absolute;
}

.label-subdivision {
  width: 33px;
  height: 100%;
}

.jobPosition {
  font-size: 12px;
  color: rgb(117, 114, 114);
}

.percent {
  position: absolute;
  top: 4px;
  right: 3px;
  font-weight: 600;
  font-size: 11px;
  color: #757272;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .user-card {
    .user-name {
      padding: 5px 0 5px 5px;
      font-size: 14px;
    }

    &.card-s {
      min-width: 100px;
      min-height: 80px;
    }
  }

  .label-subdivision {
    width: 10px;
  }

  .element-hidden {
    display: none;
  }
}

@media (max-width: 767px) {
  .user-card {
    &.card-s {
      min-width: 100px;
      min-height: 80px;
    }
  }

  .name {
    display: flex;
    flex-direction: row;

    div {
      margin-right: 5px;
    }
  }

  .location {
    font-size: 14px;
  }

  .percent {
    position: absolute;
    top: 4px;
    right: 3px;
    font-weight: 600;
    font-size: 11px;
    color: #757272;
  }
}
