.user-card {
  position: relative;
  border-radius: 4px;
  background-color: white;
  margin: 5px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);

  display: flex;

  &.card-s {
    min-width: 188px;
    height: 110px;
  }

  .user-name {
    display: block;
    padding: 8px 8px 8px 36px;
  }
}

::ng-deep.avatar-center {
  display: flex;
  justify-content: center;
}

.avatar-area {
  padding: 25px 8px;
  position: absolute;
}

.label-subdivision {
  width: 33px;
  height: 100%;
}

.jobPosition {
  font-size: 12px;
  color: rgb(117, 114, 114);
}

.percent {
  position: absolute;
  top: 4px;
  right: 3px;
  font-weight: 600;
  font-size: 11px;
  color: #757272;
}

.user-skills {
  display: flex;
  grid-area: skills;
  justify-content: left;
  flex-wrap: wrap;
  .skill-logo {
    margin-right: 5px;
    height: 20px;
    width: 20px;
    object-fit: contain;
  }
}

:host[theme='peoples-page'] {
  .skill-logo {
    height: 15px;
    width: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .user-card {
    margin: 5px 0;
    font-size: 14px;

    &.card-s {
      min-width: 100px;
      height: 155px;
    }

    .user-name {
      display: block;
      padding: 8px;
      margin-top: 50px;
    }
  }

  .avatar-area {
    padding: 6%;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .label-subdivision {
    width: 100%;
    height: 25px;
    position: absolute;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  .percent {
    color: #000000;
  }
}

@media (max-width: 767px) {
  .user-card {
    &.card-s {
      min-width: 100px;
      min-height: 80px;
    }
  }

  .name {
    display: flex;
    flex-direction: row;

    div {
      margin-right: 5px;
    }
  }

  .location {
    font-size: 14px;
  }

  .percent {
    position: absolute;
    top: 4px;
    right: 3px;
    font-weight: 600;
    font-size: 11px;
    color: #757272;
  }
}
