.form-container {
  display: grid;
  grid-template-areas:
    'title . '
    'dates comment'
    'buttons submitButton';
}

.title {
  font-size: 19px;
  grid-area: title;
}

.dates {
  grid-area: dates;
}

.buttons {
  grid-area: buttons;
}

.comment {
  grid-area: comment;
}

.submitButton {
  grid-area: submitButton;
}
.control {
  width: 100%;
}

.print {
  color: #007bff !important;
  text-decoration: underline !important;
  cursor: pointer;
}
