.comment {
  & textarea {
    min-height: 60px;
  }
}

.control {
  width: 100%;
}

.title {
  font-size: 19px;
  grid-area: title;
}

.datesFrom {
  grid-area: datesFrom;
}

.datesFor {
  grid-area: datesFor;
}

.print {
  color: #007bff !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.submit-button {
  grid-area: submitButton;
  align-self: center;
}

.clear-button {
  position: absolute;
  top: -25px;
  right: 0;

  .icon-btn {
    color: gray;
  }
}

.comment-textarea {
  resize: none;
}
