<form class="form-container"
  [formGroup]="form">
  <p class="title">Присутствие</p>

  <mat-form-field class="control">
    <input matInput
      formControlName="dateStart"
      [matDatepicker]="picker"
      placeholder="с" />
    <mat-datepicker-toggle matSuffix
      [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="control">
    <input matInput
      formControlName="dateEnd"
      [min]="form.get('dateStart').value"
      [matDatepicker]="pickerTo"
      placeholder="по" />
    <mat-datepicker-toggle matSuffix
      [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="control">
    <mat-select placeholder="вид"
      formControlName="type"
      (selectionChange)="resetComment()">
      <mat-option *ngFor="let item of options"
        [value]="item">
        {{ item.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="control">
    <textarea matInput
      rows="4"
      formControlName="comment"
      placeholder="Комментарий"></textarea>
  </mat-form-field>

  <button mat-raised-button
    class="control"
    color="primary"
    [disabled]="form.invalid"
    (click)="addTask()">
    Сохранить
  </button>
  <a *ngIf='form.get("type").value.id === 4'
    class="print"
    (click)="printStatement()">
    распечатать заявление на отпуск
  </a>
</form>