<ngb-datepicker [(ngModel)]="model"
  [dayTemplate]="customDay"
  style="min-width:150px;"
  (select)="onDateSelect($event)"
  outsideDays="hidden"></ngb-datepicker>

<ng-template #customDay
  let-date="date"
  let-currentMonth="currentMonth"
  let-selected="selected"
  let-focused="focused">
  <span class="custom-day"
    [class.selected]="selected"
    [class.focused]="focused"
    [ngClass]="chooseClass(date)"
    (mouseenter)="hoveredDate = date"
    (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>



<!-- 
<div class="custom-day lol"
  [class.weekend]="isWeekend(date)"
  [class.focused]="focused"
  [class.bg-primary]="selected"
  [class.hidden]="date.month !== currentMonth"
  [class.text-muted]="disabled"
  [class.has-task]="hasTask(date)"
  (click)="selectDate(date)">
  {{date.day}}
</div> -->