@import 'src/app/shared/styles/color';

:host {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day-type.vertical {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .item {
    width: 50%;
  }
}

.day-type.horizontal {
  display: flex;
}

.holiday-type.vertical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.holiday-type.horizontal {
  display: flex;
}

.label {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  border: 1px solid;
  margin: 5px;

  &.CUSTOM {
    background-color: var(--dayTypeCustom);
  }

  &.LEFT {
    background-color: var(--dayTypeLeft);
  }

  &.VACATION {
    background-color: var(--dayTypeVacation);
  }

  &.SICK {
    background-color: var(--dayTypeSick);
  }
}

.item {
  display: flex;
  align-items: center;
}

::ng-deep.mat-tooltip {
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  :host {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  :host {
    flex-direction: column-reverse;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .day-type.horizontal {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
  }

  .holiday-type.horizontal {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
  }
}
