<div class="day-type" [ngClass]="{ vertical: !isLineView, horizontal: isLineView }">
  <div class="item" *ngFor="let item of optionsAgenda" [matTooltip]="item.tooltip">
    <div class="label" [style.backgroundColor]="item.color"></div>
    <div class="title">{{ item.title }}</div>
  </div>
</div>
<div class="holiday-type" [ngClass]="{ vertical: !isLineView, horizontal: isLineView }">
  <div class="item" *ngFor="let item of optionsHoliday">
    <div class="label" [style.backgroundColor]="item.color"></div>
    <div class="title">{{ item.title }}</div>
  </div>
</div>
