:host {
  margin-bottom: 30px;
  flex-wrap: wrap;
  display: flex;
  padding: 0 45px 0 45px;
}

.label {
  width: 25px;
  height: 25px;
  border: 1px solid;
  margin: 5px;
}

.item {
  width: 50%;
  display: flex;
  align-items: center;
}

.item-line {
  width: min-content;
  margin-right: 20px;
  &:last-child() {
    margin-right: 0;
  }
}

/deep/ .mat-tooltip {
  font-size: 14px;
}
