:host {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day-type.vertical {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .item {
    width: 50%;
  }
}

.day-type.horizontal {
  display: flex;
}

.holiday-type.vertical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.holiday-type.horizontal {
  display: flex;
}

.label {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  border: 1px solid;
  margin: 5px;
}

.item {
  display: flex;
  align-items: center;
}

::ng-deep.mat-tooltip {
  font-size: 14px;
}
